<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0a9070f5-4b06-4f02-aeba-503307a1baff/resourceGroups/CadastroDeProdutos_Group/providers/Microsoft.Web/sites/CadastroDeProdutos20210822093018</ResourceId>
    <ResourceGroup>CadastroDeProdutos_Group</ResourceGroup>
    <ApiResourceId>/subscriptions/0a9070f5-4b06-4f02-aeba-503307a1baff/resourceGroups/CadastroDeProdutos_Group/providers/Microsoft.ApiManagement/service/CadastroDeProdutosapi/apis/CadastroDeProdutos</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cadastrodeprodutos20210822093018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>1dded757-43a1-4857-b98b-0e1005c23b45</ProjectGuid>
    <MSDeployServiceURL>cadastrodeprodutos20210822093018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CadastroDeProdutos20210822093018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$CadastroDeProdutos20210822093018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>